################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Starter Files/ImageGallery/.vs
/Finished Sample/ImageGallery/.vs
/Finished Sample/ImageGallery/src/ImageGallery.API/bin
/Finished Sample/ImageGallery/src/ImageGallery.API/obj
/Finished Sample/ImageGallery/src/ImageGallery.Client/bin
/Finished Sample/ImageGallery/src/ImageGallery.Client/obj
/Finished Sample/ImageGallery/src/ImageGallery.Model/bin
/Finished Sample/ImageGallery/src/ImageGallery.Model/obj
/Finished Sample/ImageGallery/src/Marvin.IDP/bin
/Finished Sample/ImageGallery/src/Marvin.IDP/obj
/Starter Files/ImageGallery/src/ImageGallery.API/bin
/Starter Files/ImageGallery/src/ImageGallery.API/obj
/Starter Files/ImageGallery/src/ImageGallery.Client/bin
/Starter Files/ImageGallery/src/ImageGallery.Client/obj
/Starter Files/ImageGallery/src/ImageGallery.Model/bin
/Starter Files/ImageGallery/src/ImageGallery.Model/obj
/Starter Files/ImageGallery/src/Marvin.IDP/obj
/Starter Files/ImageGallery/src/Marvin.IDP/bin
